@charset "utf-8";
/* CSS Document */

/* social linkovi */
img.footer {
	padding-left:25px;
	padding-top:25px;
}
img.header {
	padding-left:25px;
	padding-top:35px;
	position:relative;
	left:1000px;
}
/* nav bar */
ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}
li {
	font-family:Open Sans;
    float:left;
}
li a {
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
	position: relative;
    left: 700px;
}
a:hover:not(.active) {
    background-color:rgba(46, 139, 87, 0.6);
}
.active {
	background-color:rgba(25, 77, 47, 0.6);
}
/* dugme */
.btn {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
	background-color:rgb(25, 77, 48);/*ista boja #194d30*/
    color: white;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.btn:hover {
	background-color:rgb(46, 139, 87);/*#2e8b57*/
    color:FFF;
}
.btn a {
	text-decoration:none;
	color:#FFF;
}
/* google ikone */
.material-icons {
	font-size:40px;
	color:darkGreen;
	/*position:absolute;
	top:50px;
	left:40px;*/
}
#mesto {
	position:absolute;
	top:15%;
	left:8%;
}
#tel {
	position:absolute;
	top:30%;
	left:8%;
}#sajt {
	position:absolute;
	top:45%;
	left:8%;
}#mejl {
	position:absolute;
	top:58%;
	left:8%;
}
